@font-face {
    font-family: 'Proxima Nova';
    src: url(/fonts/src/proximanova_regular.ttf);
    src: url(/fonts/proximanova_regular.woff);
    src: url(/fonts/proximanova_regular.woff2);
}

* {
    font-family: 'Proxima Nova';
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 80px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 150px;
    margin-bottom: 80px;
    padding-top: 131px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px 293px;
    }
    &__img-box {
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: 600px;
    }
    &__img2-box {
        position: relative;
        overflow: hidden;
        max-width: 733px;
        height: 900px;
    }
    &__img3-box {
        position: relative;
        max-width: 733px;
        height: 900px;
    }
    &__img {
        position: absolute;
        width: 110%;
        height: 125%;
        object-fit: cover;
    }
    &__img2 {
        position: absolute;
        width: 120%;
        height: 100%;
        object-fit: cover;
    }
    &__img3 {
        position: absolute;
        top: 15%;
        right: -18%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        font-family: 'Proxima Nova';
    }
    &__text {
        color: rgb(47, 128, 237);
        font-size: 31px;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
    }
    &__text-about {
        position: absolute;
        top: -45px;
        right: 0;
        color: rgb(47, 128, 237);
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover {
            scale: 120%;
        }
    }
    &__text-logo {
    }
    .container.-second {
        display: flex;
        flex-direction: row;
        gap: 193px;
    }
    &__wrapper.-second {
        width: 50%;
    }
    &__wrapper.-third {
        width: 35%;
        gap: 0;
    }
    &__img4 {
        height: 12px;
        width: 63px;
        margin: 75px 0 65px;
    }
    &__title {
        font-size: 34px;
        font-weight: 400;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 120px;
    }
    &__blue {
        color: rgb(47, 128, 237);
    }
    &__text2 {
        font-size: 20px;
        font-weight: 400;
        line-height: 160%;
        text-transform: uppercase;
        margin-bottom: 100px;
    }
    &__video-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        box-sizing: content-box;
        gap: 15px;
    }
    &__video-info {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        line-height: 160%;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &__video-time {
        color: rgb(17, 17, 17);
        font-family: Proxima Nova;
        font-size: 14px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;
        opacity: 0.5;
    }
    &__hr {
        height: 1px;
        width: 10em;
        background-color: rgb(215, 215, 215);
    }
    &__video {
        display: block;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            scale: 110%;
        }
    }
    &__video-img {
        border-radius: 50%;
        background: rgba(47, 128, 237, 0.3);
        position: relative;
        z-index: 2;
        max-width: 186px;
    }
    &__video-player {
        display: none;
        width: 100%;
        height: 100%;
    }
    &__callback {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 100em;
        max-height: 900px;
    }

    &__input-box {
        display: flex;
        flex-direction: column;
        gap: 49px;
    }
    &__cb-title {
        font-size: 52px;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 80px;
    }
    &__form-row {
        position: relative;
        input {
            display: block;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            outline: none;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
            width: 100em;
            max-width: 587px;
            padding: 0;
        }
        label {
            position: absolute;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            transform: translateY(-25px);
            transition: all 0.4s ease;
            text-transform: uppercase;
        }
        input:focus + label,
        input:valid + label {
            transform: translateY(-40px);
            font-size: 12px;
            font-weight: 400;
        }
    }
    &__agreement {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        opacity: 0.5;
        margin: 1px 0 30px;
    }
    &__send-cb {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 7%;
        text-transform: uppercase;
        padding: 24px 69px;
        box-sizing: border-box;
        border: 1px solid rgb(47, 128, 237);
        border-radius: 100px;
        background: rgb(47, 128, 237);
        width: fit-content;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background: rgb(32, 90, 167);
        }
    }
    &__exit-cb {
        position: absolute;
        top: 60px;
        right: 60px;
        outline: none; /* Для синий ободки */
        border: 0;
        background: transparent;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            scale: 120%;
        }
    }
}
.main__callback {
    position: fixed;
    top: 133px;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__callback.active {
    opacity: 1;
    visibility: visible;
}

/* Prevent scrolling of the background content when modal is open */
body.modal-open {
    overflow: hidden;
}

@import 'blocks/header';
