<header class="header fixed-header">
    <div class="container">
        <div class="header__content">
            <div class="header__menu">
                <div class="header__dropdown">
                    <img
                        src="../images/menu-btn.svg"
                        alt=""
                        class="menu-btn-img"
                    />
                    <button class="header__dropbtn">Меню</button>
                    <div class="header__dropdown-content"></div>
                </div>
                <button class="header__choice">Выбрать квартиру</button>
            </div>
            <div class="header__logo">
                <img src="../images/header-logo.svg" alt="logo" />
            </div>
            <div class="header__callback">
                <div class="header__text">+7 495 527 21 21</div>
                <button class="btn-cb">Заказать звонок</button>
            </div>
        </div>
    </div>
</header>
