.header {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    &__content {
        margin: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(17, 17, 17);
    }
    &__menu {
        display: flex;
        gap: 43px;
        align-items: center;
    }

    &__dropdown {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 17px;
        .menu-btn-img {
            margin-right: 15px;
            height: 17px;
            width: 38px;
            transition: height 0.2s ease;
        }
        &:hover {
            .menu-btn-img {
                height: 22px;
                width: 38px;
            }
        }
    }
    &__dropbtn {
        text-transform: uppercase;
        border: none;
        background: transparent;
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 7%;
        cursor: pointer;
    }
    &__choice {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        border: none;
        border-radius: 118px;
        background: rgb(47, 128, 237);
        position: relative;
        overflow: hidden;
        height: 53px;
        cursor: pointer;
        user-select: none;
    }
    &__scroll-wrapper {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease;
        height: 100%;
        padding: 18px 24px;
        will-change: transform;
    }

    &__scroll-text2 {
        visibility: hidden;
    }
    &__choice:hover {
        .header__scroll-wrapper {
            transform: translateY(-30%);
        }
        .header__scroll-text1 {
            visibility: hidden;
        }
        .header__scroll-text2 {
            visibility: visible;
        }
    }
    &__callback {
        display: flex;
        align-items: center;
        gap: 45px;
        .btn-cb {
            height: 50px;
            color: rgb(47, 128, 237);
            font-size: 15px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            border: none;
            background: transparent;
            padding: 0;
            height: 50px;
        }
    }
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
}
